@media(max-width:24em){
    html{
        font-size: 48%;
        overflow-x: hidden;
    }
    body{
        overflow-x: hidden;
        height: fit-content;

    }
    .head{
        height: 100%;
    }
    .nav-container{
        max-width: 45rem;
        padding: 5rem 0.7rem;
    }
    .logo img {
        width: 50%;
    }
    nav ul {
        gap: 3.2rem;
    }
    .hero{
        max-width: 40rem;
        grid-template-columns: 1fr;
        row-gap: 3.2rem;
    }
    .hero-content{
        text-align: center;
    }
    .hero-head{
        font-size: 3rem;
    }
    .hero-p{
        width: 100%;
        
    }
    .empty{
        margin: 1rem 0 2rem;
    }
    button{
        padding: 1.2rem 14rem;
    }
    .hero-img{
        grid-row: 1;
    }
    .grid{
        max-width: 40rem;
        grid-template-columns: 1fr;
        text-align: center;
        padding: 12rem 0 ;
    }
    .head-content{
        font-size: 1.8rem;
        margin-top: 3.2rem;
    }
    .p-content-1{
        width: 100%;
    }

    .about{
        clip-path: ellipse(180% 100% at 50% 100%);
        margin: 14rem 0 0;
    }
    .about-img{
        grid-row: 1;
    }
    .flex{
        width: 42%;
        margin-top: 2.2rem;
        margin: 2.2rem auto 0;
    }
    .card{
        text-align: left;
    }
    .avatar{
        gap: 1.6rem;
    }
    .avatar img {
        width: 15%;
    }
    .name{
        font-size: 1.4rem;
        font-weight: 600;
    }
    .access{
        text-align: center;
        max-width: 40rem;
        grid-template-columns: 1fr;
        gap: 4.4rem;
    }
    .access-p{
        width: 100%;
    }
    .empty.one{
        width: 77%;
        padding: 1.2rem 2rem;
        margin: 0 auto;

    }
    .access-button{
        width: 77%;
        margin: 0 auto;
        padding: 1.2rem 0;
    }
    .footer-grid{
        max-width: 50rem;
        grid-template-columns: 1fr;
    }
    .aboutus,.contact{
        margin-top: 0;
    }
    .icon{
        margin: 0 auto;
    }
    
}